<div class="navbar-container">
    <div class="navbar">
        <div class="titles">
            <h1>AGVS - Actually Good Vehicle Site</h1>
            <h2>Welcome to AGVS - an actually good vehicle site</h2>
        </div>
        <img alt="site logo" src="{{ asset('speedometer.avif') }}"/>
    </div>
    {{ include('partials/navmenu.html.twig') }}
</div>