body {
    font-family: system-ui;
    background: #273043;
    color: #EFF6EE;
    user-select: none;
}

body  * {
    user-select: none;
    -webkit-user-drag: none;
}

body a {
    text-decoration: none;
    color: white;
}

.navbar-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;

    .nav {
        display: flex;
        justify-content: space-around;
        height: 30px;

        a {
            width: 100%;
        }

        button {
            width: 100%;
            height: 100%;
            border: none;
            background: black;
            color: white;
        }

        button:hover {
            background: darkslategray;
            color: black;
            cursor: pointer;
            transition-duration: .25s;
            border: 1px solid white;
            border-radius: 5px;
            font-size: 14px;
        }
    }
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: center;
    border: solid black 1px;
    background: black;
    border-radius: 5px;
    height: 250px;
    position: relative;

    .titles {
        position: absolute;
        text-align: center;
        z-index: 1;
        margin: 0;

        h1 {
            margin: 5px;
        }

        h2 {
            margin: 0;
        }
    }

    img {
        position: absolute;
        height: 200px;
        bottom: 0;
    }
}

.content {
    display: flex;
    justify-content: center;

    .subtitle-container {
        display: flex;
        justify-content: center;
        margin: 20px;
    }

    .vehicle-container {
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

        .vehicle {
            border: 1px solid black;
            padding: 10px;
            width: 300px;
            background: #9197AE;
            border-radius: 5px;
            user-select: none;

            .title {
                margin: 5px;

                .description {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .price {
                        font-weight: 700;
                        font-size: 1.2rem;
                    }
                }
            }

            img {
                width: 100%;
                pointer-events: none;
            }
        }

        .vehicle:hover {
            transition-duration: .5s;
            background: #F02D3A;
            border-radius: 10px;
            cursor: pointer;
        }
    }
}