<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AGVS - Actually Good Vehicle Site</title>
    <link rel="stylesheet" href="{{ asset('styles/index.css') }}"/>
</head>

<body>
{{ include('partials/navbar.html.twig') }}

<div class="content">
    <div class="vehicle-container">
        {% for vehicle in vehicles %}
            {{ include('partials/vehicle.html.twig', { 'vehicle': vehicle }) }}
        {% endfor %}
    </div>
</div>
</body>
</html>